---
import { Icon } from 'astro-icon/components'

/**
 * ExternalLink Component
 *
 * @description ExternalLink description
 */
interface Props {
  /**
   * Additional classes to apply to the ExternalLink
   */
  class?: string
  /**
   * The URL to link to
   */
  href: string
}

const { class: className, href } = Astro.props
---

<a href={href} class:list={[className, 'external-link']} target="_blank" rel="noopener noreferrer">
  <span><slot /></span>
  <Icon name="lucide:external-link" />
  <span class="sr-only">Opens in a new tab</span>
</a>

<style lang="scss">
  @use '../assets/scss/base/mixins' as *;

  .external-link {
    display: inline;
    text-decoration: none;

    > span:first-child {
      @include text-decoration($color: var(--foreground-base), $hoverColor: var(--foreground-base));
    }
  }

  .external-link svg {
    display: inline;
    translate: 0.1em -0.1em;
  }
</style>
