---
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid gap-8">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Accessible Astro</h3>
        <ul class="flex flex-col gap-2">
          <li>
            <ExternalLink href="https://accessible-astro-starter.incluud.dev">Accessible Astro Starter</ExternalLink>
          </li>
          <li>
            <ExternalLink href="https://accessible-astro-dashboard.incluud.dev">Accessible Astro Dashboard</ExternalLink
            >
          </li>
          <li>
            <ExternalLink href="https://accessible-astro-starter.incluud.dev/accessible-components"
              >Accessible Astro Components</ExternalLink
            >
          </li>
          <li>
            <ExternalLink href="https://accessible-astro-docs.incluud.dev">Accessible Astro Docs</ExternalLink>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="">
          Incluud is an initiative by @markteekman and @peterpadberg with a shared mission: To create accessible,
          user-friendly, and inclusive digital experiences for everyone. Incluud is a community of developers,
          designers, and accessibility experts who are passionate about creating accessible, user-friendly, and
          inclusive digital experiences for everyone.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>.
      </p>
      <p>
        Made with ❤️ by <a href="https://github.com/markteekman">Mark Teekman</a>. Part of <a
          href="https://www.incluud.dev">Incluud</a
        >.
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);

    > .container.grid {
      grid-template-columns: 1fr 2fr;
    }
  }
</style>
