---
interface Props {
  /**
   * Align the content vertically
   */
  align?: 'start' | 'center' | 'end' | 'stretch'
  /**
   * Label for the grid block
   */
  label?: string
}

const { align = 'center', label } = Astro.props

/**
 * GridBlock Component
 *
 * @description A component that displays a grid of items
 */
---

<div class={`grid-block align-${align}`}>
  {label && <span class="grid-block-label">{label}</span>}
  <slot />
</div>

<style lang="scss">
  .grid-block {
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-s);
    padding: var(--space-s);
    block-size: 250px;
    overflow-x: clip;
    overflow-y: scroll;

    &.align-start {
      align-items: flex-start;
    }

    &.align-center {
      align-items: center;
    }

    &.align-end {
      align-items: flex-end;
    }

    &.align-stretch {
      align-items: stretch;
    }

    &-label {
      position: absolute;
      inset-block-start: var(--space-3xs);
      inset-inline-start: var(--space-3xs);
      color: rgba(from var(--foreground-color) r g b / 0.5);
      font-size: var(--font-size--2);
    }
  }
</style>
