---
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <div class="p-4">
    <div class="flex items-center justify-end gap-8">
      <a class="animate-rotate" href="https://github.com/incluud/color-contrast-checker">
        <Icon name="lucide:github" />
        <span class="sr-only">Go to the GitHub page</span>
      </a>
      <DarkMode class="animate-rotate">
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </div>
  </div>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/mixins' as *;

  header {
    a,
    button {
      display: block;
      margin-inline: -7px;
      color: var(--color-text-subtle);

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }

    .darkmode-toggle {
      border: none;
      padding: 0;

      .icon {
        inline-size: 30px;
        block-size: 30px;
      }

      &:where(:hover, :focus-visible) {
        box-shadow: none;
      }

      &:focus {
        @include outline;

        &:not(:focus-visible) {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
</style>
