---
/**
 * UserInterface Component
 *
 * @description A component that displays the user interface for the color contrast checker
 */
---

<div class="user-interface">
  <div class="user-interface__header">
    <div class="dots">
      <div class="dot dot__red"></div>
      <div class="dot dot__yellow"></div>
      <div class="dot dot__green"></div>
    </div>
    <div class="user-interface__header__text">
      <slot name="header" />
    </div>
  </div>
  <div class="user-interface__body">
    <slot name="body" />
  </div>
</div>

<style lang="scss">
  .user-interface {
    --color-red: #fe5f58;
    --color-yellow: #ffbc30;
    --color-green: #26c941;

    border-top: 1px solid var(--border-color-subtle);
    border-left: 1px solid var(--border-color-subtle);
    border-top-left-radius: var(--radius-xl);
    padding: var(--space-xs);
    min-block-size: 100dvh;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .dots {
    display: flex;
    gap: var(--space-2xs);
  }

  .dot {
    border-radius: 50%;
    inline-size: 1rem;
    block-size: 1rem;

    &__red {
      background-color: var(--color-red);
    }

    &__yellow {
      background-color: var(--color-yellow);
    }

    &__green {
      background-color: var(--color-green);
    }
  }
</style>
