---
import Dots from './Dots.astro'

/**
 * UserInterface Component
 *
 * @description A component that displays the user interface for the color contrast checker
 */
---

<div class="user-interface">
  <div class="user-interface__header">
    <Dots />
    <div class="user-interface__header__text">
      <slot name="header" />
    </div>
  </div>
  <div class="user-interface__body" style="view-transition-name: interface-section">
    <slot name="body" />
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;
  .user-interface {
    margin-inline-start: var(--space-xs);
    border-top: 1px solid var(--border-color-subtle);
    border-left: 1px solid var(--border-color-subtle);
    border-top-left-radius: var(--radius-xl);
    padding: var(--space-xs);
    min-block-size: 100dvh;

    @include breakpoint(m) {
      margin-inline-start: 0;
    }

    @include breakpoint(xxl) {
      border-right: 1px solid var(--border-color-subtle);
      border-top-right-radius: var(--radius-xl);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
