---
import '../styles/tailwind.css'
import '../assets/scss/index.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {
  title = 'Astro',
  description = 'A starter project with accessibility features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.',
  url = Astro.site,
  image = 'social-preview-image.png',
  author = 'Mark Teekman',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta title={title} description={description.substring(0, 100)} url={url} image={image} author={author} />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />

    <!-- Global ColorManager initialization -->
    <script>
      import('../scripts/global-color-manager.ts')
    </script>

    <style lang="scss" is:global>
      :root {
        --color-foreground-base: #4646ff;

        --color-foreground-10: oklch(from var(--color-foreground-base) 90% c h);
        --color-foreground-20: oklch(from var(--color-foreground-base) 80% c h);
        --color-foreground-30: oklch(from var(--color-foreground-base) 70% c h);
        --color-foreground-40: oklch(from var(--color-foreground-base) 60% c h);
        --color-foreground-50: oklch(from var(--color-foreground-base) 50% c h);

        --color-background-base: #e6e64a;

        --color-background-10: oklch(from var(--color-background-base) 90% c h);
        --color-background-20: oklch(from var(--color-background-base) 80% c h);
        --color-background-30: oklch(from var(--color-background-base) 70% c h);
        --color-background-40: oklch(from var(--color-background-base) 60% c h);
        --color-background-50: oklch(from var(--color-background-base) 50% c h);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        overflow-x: clip;

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--link-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }

      .interface {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;
      }
    </style>
  </body>
</html>
